body {background-color:#cccccc;}
h1 {color: #660033;
text-align: center; 
font-size: 200%}
h2 {color: #000000;}
h3 {color:  #333333;}
div#menu ul{display: block;
list-style: none;
margin:0;
padding:0;}
div#menu ul li{display: block;
list-style: none;
margin:0;
padding:0}
div#menu ul li{display:inline;
white-space:nowrap}
div#menu {text-align: center;
font-size:150%;
background:#9c9c9c;
font-family:arial;}
img {
margin-right: 15px; 
margin-bottom: 8px; 
border: 1px solid silver; 
background: grey; 
padding: 4px;
}
